body {
  /* background-image: url("/assets/images/asylum.jpg");*/
   background-color: #331169;
   font-size: 62.5%;
   box-sizing: border-box;
   color: #313131;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 100vw;
   

}


#welcomeText, #helloText {
    color: white;
    text-align: center;
    color: white;
    font-size: 1rem;
   
}

.heading {
    margin-top: 35px;
    text-align: center;
    font-size: 2rem;
    color: white;
    /*font-family: 'Creepster', cursive;*/
    font-size: 65px;
  background: -webkit-linear-gradient(red, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.center-message {
    text-align: center;
    width: 50%;
    color: white;
    font-size: 130%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255,0,0, 0.4);
    border-radius: 15px;
    padding: 20px;
}

.game-level-buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;    
}

.controls {
    display: flex;
    justify-content: center;
    align-content: center;  
    margin-top: 30px; 
}

#beginner-button, #advanced-button, #start-btn, #next-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;  
    background-color: red;
    width: 120px;
    height: 40px;
    color: white;
    font-size: 120%;
    text-align: center;
    border-radius: 15px;
    border: 1px solid black;
}

#beginner-button:hover, #advanced-button:hover, #start-btn:hover, #next-btn:hover {
    background-color: lightcoral;
}   

.gameSelectionChoices {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;

    
}

#gamechoice1, #gamechoice2, #gamechoice3, #gamechoice4, #gamechoice5, #gamechoice6, #gamechoice7, #gamechoice8 {    
        font-size: 1rem;
        padding: 10px;
        width: 10rem;
        text-align: center;
        border: 0.4rem solid #01111f;
        margin-bottom: 1rem;
        text-decoration: none;
        color: black;
        background-color: white;
        font-weight: bold;
        text-transform:uppercase;
        background-color: rgb(212, 60, 60);
      
}

#gamechoice1, #gamechoice2, #gamechoice3, #gamechoice4 {
    background-color: lightgreen;
}

#gamechoice1:hover, #gamechoice2:hover, #gamechoice3:hover, #gamechoice4:hover, #gamechoice5:hover, #gamechoice6:hover, #gamechoice7:hover, #gamechoice8:hover 
#beginner-button:hover, #advanced-button:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  
  #beginner-button[disabled]:hover, #advanced-button[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
  }

  .center {
        text-align: center;
        width: 50%;
        color: white;
        font-size: 1.5rem;
        margin-top: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
  }

  .choice-container {
      height: 150px;
      width: 500px;
      border: 5px solid white;
      font-size: 1.4rem;
      padding: 25px;
      margin: 15px;
      box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
      cursor:pointer;
      vertical-align:middle; 
      background-color: rgba(255,255,255, 0.3); 
      
  }

  .choice-container:hover{
      color: goldenrod;
  }

  .choice-container:active {
    background-color: grey;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

    .choice-container:focus {
    background: linear-gradient(#152B40, #152B40);
    color: grey;
    }

    .choice-container:selected{
        background: linear-gradient(#152B40, #152B40);
        color: darkolivegreen;
        }

  .main-container {
    display: flex;
    flex-direction: row;    
    margin-left: auto;
    margin-right: auto;
       
  }

  .question-panel {
    border: 3px solid white;
    border-radius: 20px;
    background-color: rgba(255,255,255, 0.5); 
    box-shadow: 0 0 5px 1px;
    padding: 10px;
  }

   .hide {
       display: none;
   }

  .choice-prefix {
      /*padding: 1.5rem, 2rem;*/
      color: white;
      font-weight: bold;
      font-size: 1.5rem;
  }

  .choice-text {
      font-size: 1.3rem;
      display: block;
      margin-left: auto;
      margin-right: auto;
      /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
  }
 

  #content {
      color: white;
      font-size: 1rem;
      width: 50%;
  }

  

  #hidden {
      display: none;
  }

 .informationForQuestion {
     background-color: black;
     height: 100px;
     width: 450px;
     border: 5px solid white;
     border-radius: 20px;
     display: inline-block;
     margin-left: auto;
     margin-right: auto;
     padding: 10px;
     
 }

 #category {
    margin-top: 5px; 
    text-align: center;
    font-weight: bold;
    font-size: 80%;
    color: white;
}

#difficulty {
    text-align: center;
    font-size: 80%;
    color: white;
    text-transform: capitalize;
}